/* LAPTOP VIEW RESPONSIVESNESSsssssssssssssss */

body{
    background-color: aliceblue;
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.current-user{
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    width: 500px;
    border-radius: 10px;
    padding: 20px;;
    background-color: white;
}

.addDeleteBtns{
    /* border: 1px solid purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 20px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: aliceblue;
}

.mainBox{
    width: 100%;
}

.userDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    /* border: 1px solid green; */
}

.avatarBox{
    display: flex;
    align-items: center;
    gap: 10px;
}

.duration{
    color: hsl(210, 7%, 40%);
}

.reply{
    display: flex;
    align-items: center;
    gap: 5px;
    color: hsl(240, 59%, 54%);
    font-weight: 600;
}

img{
    width: 25px;
    height: 25px;
}

.text{
    padding: 0px 20px;
    margin-right: 20px;
}

.paragraphText{
    /* opacity: 80%; */
    color: hsl(210, 7%, 40%);
    text-align: justify;
}